{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('pics/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'shop:index' %}">خانه</a></span> </p>
          <h1 class="mb-0 bread">ارتباط با ما</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
        <div class="w-100"></div>
        <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>آدرس:</span> ایران - شیراز - بلوار جمهوری</p>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>تلفن:</span> <a href="tel://1234567920">02112345678</a></p>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>ایمیل:</span> <a href="mailto:info@yoursite.com">email@website.com</a></p>
            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="info bg-white p-4">
              <p><span>وب سایت</span> <a href="#">webrubik.com</a></p>
            </div>
        </div>
      </div>


      <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
          <form action="" method="post" class="bg-white p-5 contact-form">
            {% csrf_token %}
            <!-- {{ form.non_field_errors }} -->

      
            <!-- <div class="form-group">
              {{ form.name.label_tag }}
              {{ form.name }}
            </div>
            {% if form.name.errors %}
              <p class="error">{{ form.name.errors }}</p>
          {% endif %} -->



        

            <div class="form-group">
              <input type="{{ form.name.field.widget.attrs.type }}" class="form-control" placeholder="{{ form.name.label }}" name="{{ form.name.name }}" value="{{ form.name.value }}">
              {% if form.name.errors %}
                  <p class="error">{{ form.name.errors }}</p>
              {% endif %}
          </div>

          <div class="form-group">
            <input type="{{ form.email.field.widget.attrs.type }}" class="form-control" placeholder="{{ form.email.label }}" name="{{ form.email.name }}" value="{{ form.email.value }}">
            {% if form.email.errors %}
                <p class="error">{{ form.email.errors }}</p>
            {% endif %}
          </div>
          
          <div class="form-group">
              <input type="{{ form.subject.field.widget.attrs.type }}" class="form-control" placeholder="{{ form.subject.label }}" name="{{ form.subject.name }}" value="{{ form.subject.value }}">
              {% if form.subject.errors %}
                  <p class="error">{{ form.subject.errors }}</p>
              {% endif %}
          </div>

          <div class="form-group">
            <textarea name="{{ form.message.name }}" class="form-control" placeholder="{{ form.message.label }}" rows="7">{{ form.message.value }}</textarea>
            {% if form.message.errors %}
                <p class="error">{{ form.message.errors }}</p>
            {% endif %}
        </div>
        
        
            <div class="form-group">
              <input type="submit" value="ارسال پیام" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        </div>
      
        <div class="col-md-6 d-flex">
          <div id="map" class="bg-white"></div>
        </div>
      </div>
      
    </div>
  </section>

{% endblock %}