<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست ارسال محصولات</title>
</head>
<body>
    <h1>لیست ارسال محصولات</h1>
    <table>
        <thead>
            <tr>
                <th>نام کاربر</th>
                <th>آدرس</th>
                <th>تعداد محصولات</th>
                <th>محصولات</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in products_to_deliver %}
                <tr>
                    <td>{{ delivery.user.username }}</td>
                    <td>{{ delivery.address }}</td>
                    <td>{{ delivery.products_count }}</td>
                    <td>
                        <ul>
                            {% for product in delivery.products %}
                                <li>{{ product.title }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
